@import "morestyles";
$the-border: 1px;
$base-color: #111;
$red:        #842210;

#header {
  color: $base-color * 3;
  border-left: $the-border;
  border-right: $the-border * 2;
  border-bottom-color: $some-other-color;
}
#footer {
  color: $base-color + #003300;
  border-color: desaturate($red, 10%);
}
