.foo {
    background-image: url(foo.png);
    _background-image: url(foo.png);
}

.bar {
    -ms-border-image: url(foo.png);
    -o-border-image: url(foo.png);
    -moz-border-image: url(foo.png) repeat stretch;
    -quux-border-image: url("foo.png") 25 30 10 20 repeat;
    border-image: url(foo.png);
    /* These shouldn't match: */
    color: url(bar.png);
    _border-image: url(bar.png);
}

.quux {
    background: url(foo.png);
    _background: url(foo.png);
}

.baz {
    background-image: url(foo.png) !important;
}

.barf {
    -webkit-mask-image: url(foo.png);
    -webkit-mask-image-source: url(foo.png);
    -webkit-mask-box-image-source: url(foo.png);
    -webkit-mask-box-image: url(foo.png);
    mask: url(foo.png);
    mask-box-image-source: url(foo.png);
}
