body {
  background-image: url(foo.png);
}

div {
  background-image: url(bar.png);
}

.foo1 {
  background-color: maroon;
}
.foo2 {
  background-color: maroon;
}
.foo3 {
  background-color: maroon;
}
.foo4 {
  background-color: maroon;
}
.foo5 {
  background-color: maroon;
}
.foo6 {
  background-color: maroon;
}
.foo7 {
  background-color: maroon;
}
.foo8 {
  background-color: maroon;
}
.foo9 {
  background-color: maroon;
}
.foo10 {
  background-color: maroon;
}
.foo11 {
  background-color: maroon;
}
.foo12 {
  background-color: maroon;
}
.foo13 {
  background-color: maroon;
}
.foo14 {
  background-color: maroon;
}
.foo15 {
  background-color: maroon;
}
.foo16 {
  background-color: maroon;
}
.foo17 {
  background-color: maroon;
}
.foo18 {
  background-color: maroon;
}
.foo19 {
  background-color: maroon;
}
.foo20 {
  background-color: maroon;
}
.foo21 {
  background-color: maroon;
}
.foo22 {
  background-color: maroon;
}
.foo23 {
  background-color: maroon;
}
.foo24 {
  background-color: maroon;
}
.foo25 {
  background-color: maroon;
}
.foo26 {
  background-color: maroon;
}
.foo27 {
  background-color: maroon;
}
.foo28 {
  background-color: maroon;
}
.foo29 {
  background-color: maroon;
}
